# git files
.gitattributes export-ignore
.gitignore export-ignore

# build directory
build/* export-ignore

# src directory
src/* export-ignore

# workflows directory
workflows/* export-ignore

# json
package-lock.json export-ignore
package.json export-ignore
blockssuite/package.json export-ignore

# readme
README.md export-ignore

# src directory
workflows/* export-ignore

# blockssuite/src directory
lockssuite/src/* export-ignore

# blockssuite/node_modules directory
lockssuite/node_modules/* export-ignore