# git files
.gitattributes export-ignore
.gitignore export-ignore

# build directory
build
build/* export-ignore

# src directory
src
src/* export-ignore

# workflows directory
workflows/* export-ignore

# json
package-lock.json export-ignore
package.json export-ignore
blockssuite/package.json export-ignore

# readme
README.md export-ignore

# src directory
workflows
workflows/* export-ignore

# blockssuite/src directory
blockssuite/src
blockssuite/src/* export-ignore

# blockssuite/node_modules directory
blockssuite/node_modules
blockssuite/node_modules/* export-ignore